.wrapper {
    margin: 0 12px;
    margin-top: 30px;

    .title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 12px;
    }

    .control {
        display: flex;
        font-size: 12px;
        margin-top: 12px;

        .active {
            background-color: var(--purple-primary);
        }

        .musicType {
            padding: 4px 24px;
            border: 1px solid var(--border-primary);
            border-radius: 100px;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 15px;
            cursor: pointer;
        }
    }
}
