.wrapper {
    margin: 20px 0;
    margin-top: 70px;
    overflow: hidden;

    .item {
        padding: 0 12px;
        cursor: pointer;

        .img {
            overflow: hidden;
            border-radius: 5px;
        }
    }

    .next {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0, -50%);
        width: 60px;
        height: 60px;
        background-color: var(--alpha-bg);
        font-size: 30px;
        color: white;
        border-radius: 50%;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);
        width: 60px;
        height: 60px;
        background-color: var(--alpha-bg);
        font-size: 30px;
        color: white;
        border-radius: 50%;
        z-index: 1;
    }
}
