.wrapper {
    background-color: var(--layout-bg);
    height: var(--control-playMusic);
    position: fixed;
    inset: auto 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    user-select: none;
    padding: 0 20px;

    .left {
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;

        .img {
            flex-shrink: 0;
            width: 64px;
            height: 64px;
        }

        .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            padding: 0 12px;
            padding-right: 20px;

            .name {
                text-align: left;
                font-weight: 500;
                text-transform: capitalize;
            }

            .adult {
                font-size: 12px;
                color: var(--text-secondary);
                text-transform: capitalize;
            }
        }

        .favourite {
            padding: 0 10px;
            padding-left: 4px;
            cursor: pointer;
            box-shadow: -5px 0 50px 10px var(--layout-bg);
        }
    }

    .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .control {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                font-size: 26px;
                margin: 0 14px;
                cursor: pointer;
                width: 30px;
                height: 30px;
                clip-path: circle();
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.1);
                }
            }

            .play {
                font-size: 40px;
                margin: 0 12px;
                cursor: pointer;

                &:hover {
                    color: #c273ed;
                }
            }
        }

        .audio {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 8px;

            .left_time {
                font-size: 13px;
                color: #88848c;
            }

            .range {
                flex: 1;
                margin: 0 18px;
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 3px;
                background: var(--alpha-bg);
                outline: none;
                -webkit-transition: 0.2s;
                transition: opacity 0.2s;
                border-radius: 20px;
                cursor: pointer;
                color: white;
                overflow: hidden;

                &:hover {
                    height: 8px;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    border: 4px solid currentColor;
                    background-color: currentColor;
                    box-shadow: -500px 0 0 495px white;
                    cursor: pointer;
                }
            }

            .right_time {
                font-size: 13px;
                margin-left: auto;
            }
        }
    }

    .right {
        width: 30%;
        display: flex;

        .display-sidebar {
            height: 40px;
            width: 40px;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            &:hover {
                background-color: var(--alpha-bg);
                cursor: pointer;
            }

            &.active {
                background-color: var(--purple-primary);
            }
        }
    }
}

[type='range']::-webkit-slider-thumb {
    width: 40px;
    appearance: none !important;
    height: 40px;
    background: #fff;
}
