.wrapper {
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-top: 70px;

    .img {
        height: 125px;
        width: 125px;
        overflow: hidden;
        border-radius: 5px;
        flex-shrink: 0;
    }

    .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-weight: 600;
    }

    @supports (-webkit-text-stroke: 1px white) {
        .rank {
            font-family: 'Goudy Bookletter 1911', sans-serif;
            font-weight: 900;
            text-transform: capitalize;
            font-size: 40px;
            -webkit-text-stroke: 1px var(--text-secondary);
            -webkit-text-fill-color: transparent;
        }
    }

    & .slick-next {
        display: none !important;
    }
}
