.img {
    transition: transform 0.2s linear;

    &:hover.enlarge {
        transform: scale(1.1);
    }

    &.sponsor {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
